name: CI/CD Pipeline - Online Boutique

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: cloud2-483114
          install_components: gke-gcloud-auth-plugin

      - name: Configure GKE auth plugin
        run: |
          echo "USE_GKE_GCLOUD_AUTH_PLUGIN=True" >> $GITHUB_ENV

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials online-boutique \
            --region us-central1 \
            --project cloud2-483114

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f release/kubernetes-manifests.yaml
